extends layout

block body
    .row
        .col-xs-12.col-md-6.text-left.padding-15
            h3= airport
        .col-xs-12.col-md-6.text-right.padding-15
            .btn-group(data-toggle='buttons')
                label.btn.btn-default.active
                    input(type='radio', name='type', value='dep', autocomplete='off', checked)
                    i.fa.fa-plane
                    | Departure
                label.btn.btn-default
                    input(type='radio', name='type',value='arr', autocomplete='off')
                    i.fa.fa-plane.fa-flip-vertical
                    | Arrival
    .row
        .col-xs-12.padding-15
            #table