extends layout

block body
    .row
        .col-xs-12.text-center
            h1= title
            h2
                a(href="/dme") Moscow, Domodedovo (DME)
            h2
                a(href="/svo") Moscow, Sheremetyevo (SVO)
            h2
                a(href="/vko") Moscow, Vnukovo (VKO)



