doctype html
html
    head
        title= title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', href="/favicon.ico", type="image/x-icon")
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic', type='text/css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/clock.css')
    body(class= background)
        .container
            .row
                .col-xs-12.col-lg-10.col-lg-offset-1
                    .row
                        .col-xs-12.padding-15
                            #clock-container
                                svg(id='clock', viewBox='0 0 100 100')
                                    filter(id='shadow', x='-5', y='-5', width='10', height='10')
                                        feGaussianBlur(in='SourceAlpha', stdDeviation='5')
                                        feOffset(dx='0', dy='0', result='offsetblur')
                                        feMerge
                                            feMergeNode
                                            feMergeNode(in='SourceGraphic')
                                    circle(id='face', cx='50', cy='50', r='40', fill='white', style='filter:url(#shadow)')
                                    g(id='hands')
                                        rect(id='hour', x='47.5', y='22.5', width='5', height='30', rx='2.5', ry='2.55')
                                        rect(id='min', x='48.5', y='22.5', width='3', height='30', rx='2', ry='2')
                                        line(id='sec', x1='50', y1='50', x2='50', y2='16')
                    block body

        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
        script(src='/js/table-fixed-header.js')
        script(src='/js/main.js')
        script(src='/js/clock.js')


