table.table.table-striped.table-bordered.table-hover
    thead
        tr
            th Flight Number
            th Airline
            th Aircraft
            th Destination City
            th Sheduled Time
            th Status
    tboby
        tr
            th 1
            th 2
            th 3
            th 4
            th 5
            th 6
        tr
            th 1
            th 2
            th 3
            th 4
            th 5
            th 6
