body {
    font-family: 'Open Sans', sans-serif;
}

html {

}

h2 {
    margin: 0;
}

.padding {
    padding: 25px 0;
}

.dme {
    background: url(/imgs/dme.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.svo {
    background: url(/imgs/svo.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vko {
    background: url(/imgs/vko.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
